* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: #f3f8ff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-container {
    display: flex;
    background: #EAF2FF;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 900px;
    width: 100%;
}

/* Left Section */
.left-section {
    flex: 0.6;
    background: #E3ECFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    border-radius: 0 102px 1px 0;
}

.left-section h1 {
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

.login-illustration {
    width: 150px;
    margin-bottom: 20px;
}

.brand-logo {
    width: 147px;
    height: auto;
    margin-bottom: 15px;
}

/* Form Section */
.login-form {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome-text {
    margin-left: 20px;
    margin-top: 6px;
    font-size: 24px;
    font-weight: 700;
}

.fw-600 {
    font-weight: 600;
}

.password-input {
    border-radius: 20px;
}

.update-btn {
    background-color: #688EDC;
    border-radius: 20px;
    color: #fff;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    transition: background 0.3s ease;
}

.update-btn:hover {
    background-color: #5a7fd0;
}

.alert {
    margin-top: 10px;
}
