/* Modal & Select2 */
.select2-container .select2-selection--single,
.select2-container .select2-selection--multiple {
    height: 38px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 38px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding: 4px 6px;
}

#tagsInput {
    padding: 0.375rem 0.75rem;
}
